body {
    font-family: arial;
}

/*coma is mean "and" SEPERATOR COMA*/
h1, h2 {
    color: green;
}

/*SEPERATOR SPACE*/
ul li a {
    color: red;
}

ol li a {
    color: purple;
}

/*SEPARTOR CLASS*/
/*use "id" saran tidak digunakan untuk css karena untuk java*/
#p1 {
    color: orange;
}
/*use class is more effective for css*/
.p2 {
    color: blue;
}
.cetak-tebal {
    font-weight: bold;
}

p.cetak-tebal {
    font-size: 30px;
}